<launch>
    <include file="$(find camera_localization)/launch/SingleCameraLocalization.launch" ns="/localization/cam_left/" />
    <include file="$(find camera_localization)/launch/SingleCameraLocalization.launch" ns="/localization/cam_right/" />
    <include file="$(find camera_localization)/launch/SingleCameraLocalization.launch" ns="/localization/cam_middle/" />
</launch>
